main {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  position: relative;
}

.uploadButton {
  font-family: var(--font);
  font-size: var(--font-size-m);
  color: whitesmoke;
  font-weight: var(--font-medium);
  border-radius: 10px;
  background-color: #212529;
  padding: 0.3em 1em;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.uploadButton::after,
.uploadButton::before {
  opacity: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #e76f51,
    #f4a261,
    #e9c46a,
    #2a9d8f,
    #748cab
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 10px;
  padding: 5px;
  animation: 3s spin linear infinite;
  transition: opacity 0.2s ease-in;
}

.uploadButton::before {
  filter: blur(1.2rem);
  opacity: 0.5;
}

.uploadButton:hover::after,
.uploadButton:hover::before {
  opacity: 1;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.uploadButton img {
  width: 32px;
}

.searchToolsContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.filterContainer {
  width: 70%;
  display: flex;
  align-items: flex-start;
  gap: 50px;
  position: relative;
}

.filterIcon {
  position: absolute;
  right: 0;
  top: calc(50%);
  transition: transform 0.2s ease-in-out;
}

.filterIcon:hover {
  transform: scale(1.05);
}

.filterOptions {
  position: absolute;
  top: calc(100%);
  transform: translateY(0px);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #212529;
  padding: 1.5em 0;
  padding-bottom: 3em;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
  z-index: -1;
}

.filterOptions.active {
  opacity: 1;
  transform: translateY(20px);
  z-index: 1;
}

.sortContainer,
.conditionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sortContainer h2,
.conditionContainer h2 {
  font-size: var(--font-size-m);
  font-weight: var(--font-medium);
  color: var(--font-white);
  text-align: center;
}

.sortContainer button,
.conditionContainer button {
  font-family: var(--font-Gabarito);
  font-size: var(--font-size-base);
  font-weight: var(--font-regular);
  padding: 0.5em 1em;
  border: none;
  background-color: var(font-white);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sortContainer button:hover,
.conditionContainer button:hover {
  transform: scale(1.05);
}

.sortContainer button.selected,
.conditionContainer button.selected {
  background-color: #ffda8f;
}

.resetFilter {
  border: none;
  background-color: #212529;
  color: var(--orange);
  font-weight: var(--font-semibold);
  font-family: var(--font);
  font-size: var(--font-size-base);
  position: absolute;
  bottom: 20px;
  right: 25px;
  height: fit-content;
}

.subCategoriesContainer,
.subZonesContainer {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.subCategory,
.subZone {
  font-family: var(--font);
  font-size: var(--font-size-s);
  padding: 0.2em 1em;
  background-color: aliceblue;
  border: 2px solid #212529;
  font-weight: var(--font-medium);
  box-shadow: 1px 2px 3px #212529;
  transition: background-color 0.5s ease;
}

.subCategory.active {
  background-color: rgb(166, 182, 198);
}

.subCategory:hover {
  background-color: rgb(166, 182, 198);
}

.subZone {
  background-color: #e7f8f2;
}

.subZone.active {
  background-color: #a4c9bc;
}

.subZone:hover {
  background-color: #a4c9bc;
}

@media (max-width: 1280px) {
  .searchToolsContainer {
    gap: 15px;
  }

  .uploadButton {
    font-size: var(--font-size-s);
  }

  .uploadButton img {
    width: 24px;
  }

  .searchToolsContainer {
    width: 80%;
    align-items: flex-start;
  }

  .filterContainer {
    width: 100%;
  }

  .filterIcon {
    width: 32px;
  }

  .sortContainer h2,
  .conditionContainer h2 {
    font-size: var(--font-size-s);
  }

  .subCategory,
  .subZone {
    font-size: var(--font-size-base);
    padding: 0.2em 1em;
    border: 2px solid #212529;
  }
}

@media (max-width: 580px) and (max-height: 932px), (max-width: 580px) {
  .searchToolsContainer {
    gap: 10px;
  }

  .uploadButton {
    font-size: var(--font-size-xs);
  }

  .uploadButton img {
    width: 16px;
  }

  .filterContainer {
    gap: 10px;
    align-items: center;
  }

  .filterIcon {
    top: 65%;
    width: 16px;
  }

  .sortContainer h2,
  .conditionContainer h2 {
    font-size: var(--font-size-base);
  }

  .sortContainer button,
  .conditionContainer button {
    font-size: var(--font-size-xxs);
    padding: 0.5em 1em;
  }

  .resetFilter {
    font-size: var(--font-size-xxs);
    right: 15px;
    bottom: 10px;
  }

  .subCategoriesContainer,
  .subZonesContainer {
    width: 100%;
    gap: 10px;
  }

  .subCategory,
  .subZone {
    font-size: var(--font-size-xxs);
    padding: 0.2em 1em;
    border: 1px solid #212529;
  }
}
