main {
  margin: 0;
  width: 100%;
  display: flex;
  gap: 50px;
}

.uploadButton {
  font-family: var(--font);
  font-size: var(--font-size-m);
  color: whitesmoke;
  font-weight: var(--font-medium);
  border-radius: 10px;
  background-color: #212529;
  padding: 0.3em 1em;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.uploadButton::after,
.uploadButton::before {
  opacity: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #e76f51,
    #f4a261,
    #e9c46a,
    #2a9d8f,
    #748cab
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 10px;
  padding: 5px;
  animation: 3s spin linear infinite;
  transition: opacity 0.2s ease-in;
}

.uploadButton::before {
  filter: blur(1.2rem);
  opacity: 0.5;
}

.uploadButton:hover::after,
.uploadButton:hover::before {
  opacity: 1;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.uploadButton img {
  width: 32px;
}

.searchToolsContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.filterContainer {
  width: 70%;
  display: flex;
  align-items: flex-start;
  gap: 50px;
  position: relative;
}

.categoryContainer,
.locationContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-size-m);
  font-weight: var(--font-semibold);
  color: var(--font-black);
  position: relative;
}

.categoryInput,
.locationInput {
  background-color: var(--light-blue);
  color: #edf6f9;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: var(--font-size-s);
  text-align: center;
  white-space: nowrap;
  font-weight: var(--font-medium);
  padding: 0.5em 1em;
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 1px 1px 2px black;
  transition: background-color 0.2s ease-in-out;
}

.locationInput {
  background-color: var(--green);
}

.categoryInput:hover {
  cursor: default;
  background-color: #5789a9;
}

.locationInput:hover {
  background-color: #4d7568;
  cursor: default;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 20px;
}

.categoriesDropdown {
  width: 100%;
  height: 200px;
  padding: 1em 0;
  overflow-y: scroll;
  display: flex;
  gap: 20px;
  background-color: aliceblue;
  flex-direction: column;
  position: absolute;
  top: 100%;
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: -1;
}

.categoriesDropdown.active {
  opacity: 1;
  z-index: 1;
  transform: translateY(20px);
}

.category {
  width: 100%;
  font-size: var(--font-size-s);
  font-weight: var(--font-medium);
  text-align: center;
  color: var(--font-black);
}

.category:hover {
  color: var(--light-blue);
  width: 100%;
  cursor: default;
}

.locationsDropdown {
  width: 100%;
  background-color: aliceblue;
  height: 200px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  gap: 20px;
  position: absolute;
  top: calc(100% + 10px);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: -1;
}

.locationsDropdown.active {
  opacity: 1;
  z-index: 1;
  transform: translateY(0px);
}

.location {
  width: 100%;
  font-size: var(--font-size-s);
  font-weight: var(--font-medium);
  text-align: center;
  color: var(--font-black);
  transition: padding 0.1s ease-in;
}

.location:hover {
  color: var(--green);
  border-radius: 1em;
  width: 100%;
  cursor: default;
}

.filterIcon {
  position: absolute;
  right: 0;
  top: calc(50%);
  transition: transform 0.2s ease-in-out;
}

.filterIcon:hover {
  transform: scale(1.05);
}

.filterOptions {
  position: absolute;
  top: calc(100%);
  transform: translateY(0px);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #212529;
  padding: 1.5em 0;
  padding-bottom: 3em;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
  z-index: -1;
}

.filterOptions.active {
  opacity: 1;
  transform: translateY(20px);
  z-index: 1;
}

.sortContainer,
.conditionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sortContainer h2,
.conditionContainer h2 {
  font-size: var(--font-size-m);
  font-weight: var(--font-medium);
  color: var(--font-white);
  text-align: center;
}

.sortContainer button,
.conditionContainer button {
  font-family: var(--font-Gabarito);
  font-size: var(--font-size-base);
  font-weight: var(--font-regular);
  padding: 0.5em 1em;
  border: none;
  background-color: var(font-white);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sortContainer button:hover,
.conditionContainer button:hover {
  transform: scale(1.05);
}

.sortContainer button.selected,
.conditionContainer button.selected {
  background-color: #ffda8f;
}

.resetFilter {
  border: none;
  background-color: #212529;
  color: var(--orange);
  font-weight: var(--font-semibold);
  font-family: var(--font);
  font-size: var(--font-size-base);
  position: absolute;
  bottom: 20px;
  right: 25px;
  height: fit-content;
}

.subCategoriesContainer {
  width: 70%;
  display: flex;
  gap: 20px;
}

.subCategory {
  font-family: var(--font);
  font-size: var(--font-size-s);
  padding: 0.2em 1em;
  background-color: aliceblue;
  border: 2px solid #212529;
  font-weight: var(--font-medium);
  box-shadow: 1px 2px 3px #212529;
  transition: background-color 0.5s ease;
}

.subCategory.active {
  background-color: rgb(166, 182, 198);
}

.subCategory:hover {
  background-color: rgb(166, 182, 198);
}

@media (max-width: 1280px) {
  .uploadButton {
    font-size: var(--font-size-s);
  }

  .uploadButton img {
    width: 24px;
  }

  .searchToolsContainer {
    width: 80%;
    align-items: flex-start;
  }

  .filterContainer {
    width: 100%;
  }

  .categoryContainer,
  .locationContainer {
    font-size: var(--font-size-s);
  }

  .categoryInput,
  .locationInput {
    font-size: var(--font-size-base);
  }

  .category,
  .location {
    font-size: var(--font-size-base);
  }

  .filterIcon {
    width: 32px;
  }

  .sortContainer h2,
  .conditionContainer h2 {
    font-size: var(--font-size-s);
  }

  .subCategory {
    font-size: var(--font-size-base);
    padding: 0.2em 1em;
    border: 2px solid #212529;
  }
}

@media (max-width: 580px) and (max-height: 932px) {
  .uploadButton {
    font-size: var(--font-size-xs);
  }

  .uploadButton img {
    width: 16px;
  }

  .filterContainer {
    gap: 10px;
    align-items: center;
  }
  .categoryContainer,
  .locationContainer {
    font-size: var(--font-size-base);
  }

  .categoryInput,
  .locationInput {
    font-size: var(--font-size-xxs);
    padding: 0.2em 0.7em;
    align-items: center;
    border: 1px solid black;
  }

  .categoryInput img,
  .locationInput img {
    width: 16px;
  }

  .category,
  .location {
    width: fit-content;
    padding: 0;
    font-size: var(--font-size-xs);
  }

  .filterIcon {
    top: 65%;
    width: 16px;
  }

  .sortContainer h2,
  .conditionContainer h2 {
    font-size: var(--font-size-base);
  }

  .sortContainer button,
  .conditionContainer button {
    font-size: var(--font-size-xxs);
    padding: 0.5em 1em;
  }

  .resetFilter {
    font-size: var(--font-size-xxs);
    right: 15px;
    bottom: 10px;
  }

  .subCategoriesContainer {
    width: 100%;
    gap: 10px;
  }

  .subCategory {
    font-size: var(--font-size-xxs);
    padding: 0.2em 1em;
    border: 1px solid #212529;
  }
}
