* {
  padding: 0;
  margin: 0;
}

.navigationContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: var(--font);
  font-size: var(--font-size-m);
  padding: 2em 0;
}

.link {
  text-decoration: none;
  color: var(--font-black);
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: #3c4451;
  cursor: default;
}

.brandContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--font-size-xl);
  font-weight: var(--font-bold);
  color: var(--light-blue);
}

.loginButton {
  font-size: var(--font-size-s);
  font-weight: var(--font-semibold);
  border: none;
  padding: 0.5em 2em;
  border-radius: 1.5em;
  color: var(--font-white);
  background-color: var(--dark-blue);
  transition: background-color 0.2s ease-in-out;
}

.loginButton:hover {
  background-color: #3c4451;
}

.hamburgerIcon {
  display: none;
}

/* Tablet */
@media (max-width: 1280px) {
  .navigationContainer {
    font-size: var(--font-size-base);
    padding: 2em 0;
  }

  .brandContainer {
    font-size: var(--font-size-l);
    font-weight: var(--font-bold);
    color: var(--light-blue);
  }

  .loginButton {
    font-size: var(--font-size-base);
    font-weight: var(--font-semibold);
  }
}

/* Mobile */
@media (max-width: 820px) {
  .navigationContainer > li > .link:not(.brandContainer) {
    display: none;
  }

  .navigationContainer.active {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;

    font-family: var(--font);
    font-size: var(--font-size-m);
    padding: 2em 0;
    transition: 0.1s ease-in;
  }

  .navigationContainer.active > li > .link {
    display: flex;
  }

  .navigationContainer.active > .brand {
    display: none;
  }

  .brandLogo {
    width: 52px;
    height: auto;
  }

  .hamburgerIcon {
    display: flex;
    top: 75px;
    left: 20px;
    height: 40px;
    width: 30px;
    position: relative;
  }

  .hamburgerIcon span {
    height: 5px;
    width: 100%;
    background-color: var(--font-black);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
  }

  .hamburgerIcon span:nth-child(1) {
    top: 25%;
  }

  .hamburgerIcon span:nth-child(3) {
    top: 75%;
  }

  .hamburgerIcon.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .hamburgerIcon.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburgerIcon.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
